@page "/SayHello"


    <div class="form-group">
        <h3>Say Hello 2 Me</h3>
        <div>Mit der Tab-Taste weiter</div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="exampleAddon">Name sofort</span>
            </div>
            <input @bind-value="NameSofort" class="form-control" placeholder="Name-Sofort" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="exampleAddon">Name</span>
            </div>
            <input @bind-value="Name" class="form-control" placeholder="Name" />
        </div>


        @Nachricht
        <button type="button" @onclick="SayHellow">Sag Hallo</button>
    </div>




@code {



    string Nachricht { get; set; }
    string Name { get; set; } = "";
    string nameSofort = "";
    string NameSofort
    {
        get
        {
            return nameSofort;
        }
        set
        {
            nameSofort = value;
            SayHellowSofort();
        }
    }

    void SayHellow()
    {
        Nachricht = "Hallo " + Name;
    }

    void SayHellowSofort()
    {
        Nachricht = "Hallo " + NameSofort;
    }

    void HandleValidSubmit() { }
    void HandleInvalidSubmit() { }
}
